@import 'variables.scss';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 5rem;
  max-height: 100vh;
  overflow-y: hidden;

  &::before,
  &::after {
    content: "";
    position: fixed;
    z-index: -1;

    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: radial-gradient(circle, $background-accent-color 0%, $background-color 73%);
    animation: pulse 5s ease-in-out infinite;
  }

  &::before {
    left: -20%;
    top: -20%;
  }

  &::after {
    right: -20%;
    bottom: -20%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(.8);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.header {
  position: fixed;
  top: 0;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 30%;
  z-index: 2;

  h1 {
    background: $logo-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ol {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 15px;
    color: $bold-font-color;

    a{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 7px;
      padding: 15px 25px;
      border-radius: 15px;
      background: $backdrop-gradient;
      border: 1px solid $accent-color;
    }
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 6.5rem;
  width: 100%;
  height: 100vh;
}

.shortenerContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
  
    .borderContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
      background: $backdrop-gradient;
      border: 1px solid $accent-color;
      border-radius: 10px;
      padding: 10px 20px;
      gap: 10px;
      transition: .3s;
  
      input {
        all: unset;
        width: 100%;
        color: $font-color;
      }
  
      svg {
        height: 25px;
        color: $font-color;
      }
  
      &:focus-within {
        border-color: #838383;
      }
    }
  }

.tableContainer {
  height: 80vh;
  width: 80%;
  overflow-y: auto;
  margin-top: 2rem;

  .linksTable {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
    margin-top: 4rem;
    // min-height: 50vh;


    th,
    td {
      text-align: left;
      padding: 15px;
    }

    td.active{
      color: $success-color;
    }

    td.inactive{
      color: $warning-color;
    }

    td.emptyData {
      text-align: center;
      padding: 50px;

      .emptyContainer{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p{
          margin: 0 0 10px 0;
          font-size: 14px;
        }

        p:first-child{
          font-size: 16px;
          color: $bold-font-color;
        }
      }
    }

    .tableButton,
    .mobileButton {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $font-color;
      background: $backdrop-gradient;
      padding: 5px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 1px solid $accent-color;
      transition: .3s;

      svg {
        font-size: 14px;
      }

      &:hover {
        opacity: .8;
      }
    }

    .mobileButton {
      display: none;
    }

    .rowText {
      display: flex;
      align-items: center;
      gap: 7px;

    }

    .thContainer{
        display: flex;
        align-items: center;
        gap: 15px;
        cursor: pointer;
    }

    .actionContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
    }

    .sortContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 5px;

        svg{
            height: 15px;

            &:last-of-type{
                transform: translateY(-5px);
            }
        }

        &.asc svg:last-of-type{
            opacity: .5;
        }
        &.desc svg:first-of-type{
            opacity: .5;
        }
    }

    tr {
      margin-bottom: 10px;
    }

    thead tr {
      background: $backdrop-gradient;
    }

    tbody tr {
      background: $background-glassy;
      backdrop-filter: blur(5px);
    }

    a {
      display: flex;
      align-items: center;
      gap: 7px;
      max-width: 300px;

      .linkText {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .linkIcon {
      border-radius: 2px;
      width: 20px;
      aspect-ratio: 1/1;
    }

  }
}


@media only screen and (max-width: 600px) {
  .main {
    padding: 0px 2rem 2rem 2rem;

    &::before,
    &::after {
      width: 100%;
    }

    &::before {
      left: -50%;
    }
  }

  .header {
    padding: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;

    ol{
        position: fixed;
        top: 0;
        right: 0;
        margin: 2rem 2rem 0 0;
    }
  }

  .wrapper {
    margin-top: 13rem;
  }

  .borderContainer {
    width: 100%;

    button {
        border-radius: 50%;
        padding: 10px 15px;
        aspect-ratio: 1/1;
  
        .buttonText {
          display: none !important;
        }
    }
  }

  .hero {

    h1 {
      font-size: 32px;
    }

    p {
      width: 70%;
    }
  }

  .tableContainer{
    width: 100%;
    padding-bottom: 5rem;

    .linksTable {
    margin-top: 0;
      a {
        width: 200px;
      }
  
      td .rowText {
        justify-content: center;
      }
  
      tr th:not(:first-child),
      tr td:not(:first-child) {
        display: none !important;
      }

      .mobileButton{
        display: flex !important;
      }

      .actionContainer{
        width: 100%;
      }

      tr.active{
        display: flex !important;
        flex-direction: column;

        td:not(:nth-child(4)){
          display: block !important;
        }

        td:not(:first-child){
          text-align: center;

          a{
            justify-content: center;
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .borderContainer {
    width: 70%;
  }

  .hero p {
    width: 50%;
  }

  .linksTable {
    width: 85%;
  }
}