@import 'variables.scss';

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  padding-top: 10rem;
  min-height: 100vh;

  &::before,
  &::after {
    content: "";
    position: fixed;
    z-index: -1;

    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: radial-gradient(circle, $background-accent-color 0%, $background-color 73%);
    animation: pulse 3s ease-in-out infinite;
  }

  &::before {
    left: -20%;
    top: -20%;
  }

  &::after {
    right: -20%;
    bottom: -20%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(.8);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.header {
  position: fixed;
  top: 0;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
  z-index: 2;
  border: 1px solid transparent;
  transition: .25s;

  &.scrolled {
    width: 40%;
    padding: 1rem 2rem;
    margin-top: 2rem;
    background: $background-color;
    border-color: $accent-color;
    border-radius: 25px;
  }

  h1 {
    background: $logo-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  ol {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 15px;
    color: $bold-font-color;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 7px;
      padding: 15px 25px;
      border-radius: 15px;
      background: $backdrop-gradient;
      border: 1px solid $accent-color;

      img {
        border-radius: 50%;
        aspect-ratio: 1/1;
        object-fit: contain;
      }
    }
  }


  .logout {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: $backdrop-gradient;
    border: 1px solid $accent-color;
    border-radius: 20px;
    aspect-ratio: 1/1;
    transition: .3s;

    svg {
      transition: .3s;
    }

    &:hover {
      opacity: .7;
    }
  }
}


.shortenerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;

  .borderContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background: $backdrop-gradient;
    border: 1px solid $accent-color;
    border-radius: 25px;
    padding: 10px 10px 10px 20px;
    gap: 10px;
    transition: .3s;

    input {
      all: unset;
      width: 100%;
      color: $font-color;
    }

    button {
      border-radius: 12px;
      background: #007575;
      border: none;
    }

    svg {
      height: 25px;
      color: $font-color;
    }

    &:focus-within {
      border-color: #838383;
    }
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  img.mobileMockup {
    display: none;
    margin-top: 2rem;
  }

  h1 {
    text-align: center;
    font-size: 52px;
    margin: 1rem 0;
    background: $text-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    text-align: center;
    margin-bottom: 2rem;
    width: 30%;
  }
}



@media only screen and (max-width: 600px) {
  .main {
    padding: 0px 2rem 2rem 2rem;

    &::before,
    &::after {
      width: 100%;
    }

    &::before {
      left: -50%;
    }

    button {
      border-radius: 50%;
      padding: 10px 15px;
      aspect-ratio: 1/1;

      .buttonText {
        display: none;
      }
    }
  }

  .header {
    width: 100%;
    padding: 2rem;

    &.scrolled {
      width: 90%;
    }

    .profileLink {
      padding: 10px;

      .userName {
        display: none;
      }
    }

    .logout {
      padding: 17px;
      border-radius: 20px !important;
    }
  }

  .wrapper {
    margin-top: 6rem;
  }

  .borderContainer {
    width: 90%;
  }

  .shortenerContainer {
    width: 100%;
  }

  .hero {
    margin-top: 5rem;

    img.mobileMockup {
      display: block !important;
    }

    img.desktopMockup {
      display: none;
    }

    h1 {
      font-size: 32px;
    }

    p {
      width: 70%;
    }
  }

}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .borderContainer {
    width: 70%;
  }

  .hero p {
    width: 50%;
  }
}