$background-color: #04080F;
$background-glassy: rgba(4, 8, 15, .3);
$background-accent-color: #132426;
$bold-font-color: #EDEDED;
$font-color: #C9CED6;
$backdrop-gradient: linear-gradient(88deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.03) 99.66%);
$text-gradient: linear-gradient(90deg, #02434e, #007575, #00A5A5, #007575, #00353E);
$logo-gradient: linear-gradient(90deg, #02434e, #007575, #00A5A5);
$accent-color: #27282a;
$success-color: #1EB036;
$warning-color: #B0901E;
$error-color: #e64d3c;